/*
  FONTS
  Variables
  General
  Header
  Main
  Images
  footer
  Media Queries
  Notes
*/
/*--------->FONTS<-----------*/
/*--------->Variables<-----------*/
:root {
  --black: #000000;
  --dark: #141414;
  --green: #39ff14;
  --grey: #E1E1E1;
  --light-dark: #1B1B1B;
  --light-grey: #F3F3F3;
  --white: #ffffff;
}

body {
  background: var(--dark);
  color: var(--green);
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-content {
  max-width: 1100px;
  margin: 0 auto;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.buttons {
  margin-top: 40px;
}

.buttons p {
  padding: 40px;
}

.buttons a {
  color: var(--green);
  text-decoration: none;
  border: 2px solid var(--green);
  padding: 20px;

}

.buttons a:hover {
  color: red;
  border: 2px solid red;
}

.start-over-container {
  margin-top: 40px;
}

.start-over-container p a {
  color: var(--green);
  text-decoration: none;
  border: 2px solid var(--green);
  padding: 10px;
}

.start-over-container a:hover {
  color: red;
  border: 2px solid red;
}

#final-result {
  font-weight: bolder;
  color: red;
}
/*--------->General Styles<-----------*/


/*--------->HEADER<-----------*/

/*--------->Main<-----------*/


/*--------->Media Queries<-----------*/
@media screen and (max-width: 612px) {

  .buttons {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*--------->NOTES<-----------*/
/*
- Para centrar algo horizontalmente en navegadores modernos, usa display:
 flex; justify-content: center;
- Sin embargo, en navegadores antiguos como IE8-9, flexbox no está disponible.
Para poder centrar un elemento horizontalmente con respecto a su contenedor,
usa margin: 0 auto;
*/